<!-- Begin Longlist Container -->
<div class="container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">

  <!-- Funnel System -->
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Longlist Generator</mat-card-title>
        <mat-card-subtitle>The tool everyone needs but not the one they deserve</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-vertical-stepper linear>

          <!-- Client Name -->
          <div>
            <mat-step [stepControl]="company">
              <form action="" [formGroup]="listForm">
                <ng-template matStepLabel>Client Name</ng-template>
                <mat-form-field>
                  <input matInput placeholder="ex. GenBioMed" formControlName="company">
                </mat-form-field>
                <div><button mat-button matStepperNext>Next</button></div>
              </form>
            </mat-step>
          </div>

          <!-- Project Name -->
          <div>
            <mat-step [stepControl]="project">
              <form action="" [formGroup]="listForm">
                <ng-template matStepLabel>Project Name</ng-template>
                <mat-form-field>
                  <input matInput placeholder="ex. ALTRUISM" formControlName="project">
                </mat-form-field>
                <div><button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button></div>
              </form>
            </mat-step>
          </div>

          <!-- Project Date -->
          <div>
            <mat-step [stepControl]="date">
              <form action="" [formGroup]="listForm">
                <ng-template matStepLabel>Project Date</ng-template>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div><button mat-button matStepperPrevious ty>Back</button>
                  <button mat-button matStepperNext ty>Next</button></div>
              </form>
            </mat-step>
          </div>

          <!-- Upload Excel File -->
          <div>
            <mat-step [stepControl]="file">
              <form action="" [formGroup]="listForm">
                <ng-template matStepLabel>Upload Excel File</ng-template>
                <div>
                  <!-- <button mat-button (click)="openInput()">Select File to Upload</button> -->
                  <input id="fileInput" type="file" (change)="uploadExcelFile($event.target.files)" name="file"
                    accept=".csv,.xlsx" formControlName="file">
                  <button mat-button matStepperPrevious>Back</button>
                </div>
              </form>
            </mat-step>
          </div>

        </mat-vertical-stepper>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="resetForm()">Reset</button>
        <button mat-button (click)="generateLongList()">Generate</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- I will show you da wey -->
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Excel File Format</mat-card-title>
        <mat-card-subtitle>Format accordingly...</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/xlformat.PNG">
      <mat-card-actions>
        <button mat-button>Download Template</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>